BOT_TOKEN=12345:ABCDE
CHECKBOX_HMAC_SECRET='CHANGE_ME'

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT_EXTERNAL=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/postgres?schema=public"

# see in your profile
ADMIN_USER_ID=0

DEFAULT_LOCALE='en'
